/* CSS Document */

html {
	background-color:#F4F4F4;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
}

body {
	width:50%;
	border:1px solid #ddd;
	margin:10px auto;
	background-color:#FFF;
	padding:10px 30px;
	border-radius:5px;
    align-content: center;
}

h1, h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	font-style:italic;
	letter-spacing:-0.05em;
	color:#C63;
	margin:2px 0 15px;
	text-shadow:1px 1px 2px #666;
}

input[type=text]{
   
	margin-bottom:20px;
    margin-left: 50%;
    width: 350px;
	border:1px solid #999;
	padding:8px;
    border-radius:3px;
}
.contato{
    margin-bottom:20px;
    margin-right: 200px;
    width: 350px;
	border:1px solid #999;
	padding:8px;
    border-radius:3px;
}

input:focus {
	border:1px solid #ccc;
	outline:none;
}

input[type=submit] {
	width:100px;
	color:#FFF;
	background:linear-gradient(top, #F33, #933 );
	background:-webkit-linear-gradient(top, #F33, #933 );
	background:-moz-linear-gradient(top, #F33, #933 );
	border:1px solid #333;
	cursor:pointer;
}

table { 
    width:700px;
    margin:0 auto;
    border-spacing:0;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
}

tr, td {
    border:thin solid #ccc;
    border-bottom:none;
    border-right:none;
    padding:5px;
}

td { 
    text-align:center;
}

thead th {
    text-align:center;
    background-color:#E0E0E0;
}

thead tr th:first-child {
    text-align:left;
}

tfoot td {
    font-size:.9em;
    color:#666;
}

tbody tr:nth-child(odd){
    background-color: beige;
}

