/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/05/2018, 14:56:24
    Author     : leand
*/



a.botao-vermelho{
	text-decoration: none;
	padding: 10px;
	background: #ec5252;
	color: #fff;
}

a.cursos-link{
	text-decoration: none;
	color: black;
}

body{
	margin: 0px;
	background: #F7F8FA;
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 15px;
}

.logo{
	max-width: 150px;
	float: left;
}

.buscar{
	border: 0px;
    background-color: #f2f3f5;
    border-radius: 2px 0 0 2px;
    border: 1px solid transparent;
    width: 500px;
    max-width: 500px;
    height: 40px; 
    margin-left: 100px;
    text-align: lef;
    font-size: 15px;
    padding: 0px 10px;
}

.menu{
	float: right;
	padding: 10px 0px;
}

.navegacao{
	width: 100%;
	max-width: 1440px;
	position: relative;
	height: 40px;
	margin: auto;
	padding: 10px 0px;
	top: 0;
	left: 0;
	
}

.navegacao-div{
	background: #fff;
	width: 100%;
	position: relative;
	box-shadow: 0px 3px 5px 0px rgba(20,23,28,.1);
}

.area-principal{
	width: 100%;
	max-width: 1440px;
	margin: auto;
}

.imagem-principal{
	width: 100%;
	max-height: 500px;
	margin: auto;
}

.img-cursos{
	max-width: 100%;
}

.cursos{
	width: 230px;
	height: 300px;
	float: left;
	background: #fff;
	box-shadow: 0px 5px 8px 0px rgba(20,23,28,.15);
	margin-top: 50px;
	margin-right: 2%;
}

.cursos_div{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.cursos-texto{
	padding: 5px;
}

.preco{
	float: right;
	margin-right: 5px;
	margin-bottom: 10px;
}

.login-div{
	max-width: 1440px;
	margin: auto;

}

.login{
	width: 400px;
	height: 400px;
	margin: auto;
	text-align: center;
	border-style: solid;
	border-width: thin;
	border-color: #a6a6a6;
	border-radius: 5px;
	font-family: inherit;
}

.cadastro-input{
	width: 350px;
	height: 45px;
	padding-left: 15px;
	font-size: 15px;
	margin: 5px;
	font-family: inherit;
	border-style: solid;
	border-width: thin;
	border-color: #a6a6a6;
	border-radius: 5px;
}

.login-facebook{
	width: 370px;
	height: 50px;
	padding: 10px;
	margin: 5px;
	text-align: center;
	font-size: 20px;
	font-family: inherit;
	background-color: #164675;
	color: #fff;
	border: 0px;
	border-radius: 5px;
}

.botao-login{
	width: 370px;
	height: 50px;
	padding: 10px;
	margin: 5px;
	text-align: center;
	font-size: 20px;
	font-family: inherit;
	color: #fff;
	background-color: #ec5252;
	border: 0px;
	border-radius: 5px;
}

.float-right{
	float:right; 
	margin-left: 10px; 
}

.float-left{
	float:left; 
	margin-right: 10px; 
}
